@import '@/app/globals.scss';

.footer {
  text-align: center;
  letter-spacing: 1px;
  background-color: $blue-bg-color;
  line-height: 3rem;
  text-transform: capitalize;
  border-radius: .5rem .5rem 0 0;
  width: 100%;
  margin-top: auto;
  p {
    font-size: .9rem;
    color: $main-text-color;
    span {
      margin-right: .2rem;
    }
    a {
      font-weight: 600;
      transition: .2s ease-in-out;
      margin: 0 .2rem;
      color: $soft-gold-color;
      &:hover {
        opacity: .7;
      }
    }
  }
}