@import '@/app/globals.scss';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,900&family=Rubik+Iso&display=swap');
// font-family: 'Playfair Display SC', serif;
// font-family: 'Rubik Iso', cursive;

.achievement-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  .icon {
    background-color: #fff;
    padding: .5rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .content {
    flex-grow: 1;
    .name {
      font-size: 1.5rem;
      color: $soft-gold-color;
      font-family: 'Rubic Iso', cursive;
    }
    .desc {
      font-size: 1rem;
      font-family: 'Playfair Display SC', serif;
    }
  }
}
