@import '@/app/globals.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
// font-family: 'Lato', sans-serif;

.achievement-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  .icon {
    background-color: #fff;
    padding: .5rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .content {
    flex-grow: 1;
    font-family: 'Lato', sans-serif;
    .name {
      font-size: 1.5rem;
      color: $soft-gold-color;
    }
    .desc {
      font-size: 1rem;
    }
  }
}
