@import './../globals.scss';

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.singin-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  padding: 4rem;
  .img {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgb(77 22 150 / 0.6);
    }
  }
  .singin {
    height: 50rem;
    width: 35vw;
    border-radius: 1rem;
    padding: 2rem 1rem;
    color: $main-text-color;
    border: 1px solid $blue-bg-color;
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $blue-bg-color;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .4;
      z-index: -1;
      border-radius: 1rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
    }
    p {
      font-size: .9rem;
      text-align: center;
      opacity: .7;
      margin-bottom: 2rem;
    }
    .auth {
      padding: 1rem;
      position: relative;
      form {
        label {
          display: block;
          font-size: .7rem;
          text-transform: capitalize;
          margin-left: .2rem;
          margin-bottom: .2rem;
          font-weight: bold;
          opacity: .7;
        }
        input {
          margin-bottom: 1.5rem;
          outline: none;
          display: block;
          width: 100%;
          padding: .5rem;
          border-radius: .5rem;
          background-color: rgb(77 22 150 / 0.6);
          &::placeholder {
            text-transform: capitalize;
          }
        }
        .forgot-pass {
          a {
            font-size: .8rem;
            display: block;
            position: absolute;
            right: 1.5rem;
            top: 6.1rem;
            opacity: .7;
          }
        }
        .pass-strength {
          margin-top: 1rem;
          margin-bottom: 1rem;
          .bar {
            height: 3px;
            width: 100%;
            background-color: #fff;
            margin-top: -1rem;
            border-radius: 1rem;
            position: relative;
            .green-bar {
              width: 60%;
              height: 3px;
              border-radius: 1rem;
              background-color: green;
              position: absolute;
              top: 0;
              left: 0;
              opacity: .8;
            }
          }
          .text {
            font-size: .7rem;
            opacity: .7;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .singin-content {
    justify-content: center;
    align-items: center;
    .img {
      display: none;
    }
    .singin {
      width: 70%;
    }
  }
}

@media (max-width: 992px) {
  .singin-content {
    .singin {
      width: 80%;
    }
  }
}
