@import '@/app/globals.scss';

.setting-page {
  margin-left: 6rem;
  padding: 2rem;
  background-color: $main-bg-color;
  .settings {
    padding: 2rem;
    background-color: $box-bg-color;
    color: $main-text-color;
    border-radius: .2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .setting-box {
      width: 60%;
      background-color: $box-bg-color;
      border: 1px solid $blue-bg-color;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow: 0px 0px 15px rgb(255 255 255 / .3);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      h3 {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin: 1rem;
        text-transform: capitalize;
      }
      .forms {
        padding: 0 2rem;
        .account-form {
          form {
            label {
              font-size: .8rem;
              font-weight: 600;
              text-transform: capitalize;
              letter-spacing: .05rem;
              opacity: .8;
              display: block;
            }
            input {
              display: block;
              outline: none;
              border: none;
              padding: .3rem .5rem;
              background-color: $box-bg-color;
              border-radius: .3rem;
              width: 100%;
              margin-bottom: 1rem;
              font-size: .9rem;
              border: 1px solid $blue-bg-color;
              transition: all .2s ease-in-out;
              &::placeholder {
                text-transform: capitalize;
              }
              &:focus {
                border-color: $soft-gold-color;
                border-width: 1px;
              }
            }
          }
          .update-imgs {
            div {
              margin-bottom: 1rem;
              h4 {
                font-size: .8rem;
                font-weight: 600;
                text-transform: capitalize;
                display: block;
                letter-spacing: .05rem;
                opacity: .8;
              }
              .input {
                position: relative;
                width: 100%;
                height: 2rem;
                border-radius: .3rem;
                border: 1px solid $blue-bg-color;
                input {
                  outline: none;
                  display: block;
                  opacity: 0;
                  width: 100%;
                  height: 100%;
                  background-color: $box-bg-color;
                  position: absolute;
                  top: 0;
                  left: 0;
                  border-radius: .3rem;
                  &:focus {
                    border-color: $soft-gold-color;
                    border-width: 1px;
                  }
                }
                span {
                  position: absolute;
                  font-size: .8rem;
                  font-weight: 600;
                  text-transform: capitalize;
                  letter-spacing: .05rem;
                  opacity: .8;
                  top: 50%;
                  left: 50%;
                  width: 100%;
                  transform: translate(-50%, -50%);
                  text-align: center;
                  cursor: pointer;
                  padding: .5rem 1rem;
                  display: inline-block;
                }
              }
            }
          }
        }
        .tfa-box {
          background-color: #706ed3;
          padding: .6rem;
          border-radius: .2rem;
          display: flex;
          flex-direction: column;
          gap: .6rem;
          h4 {
            font-weight: 600;
            text-align: center;
            opacity: .8;
          }
          a {
            display: block;
            font-size: .9rem;
            font-weight: 600rem;
            text-align: center;
            width: 100%;
            padding: .3rem;
            border-radius: .2rem;
            background-color: #9492de;
          }
        }
        .social-form {
          margin-top: 3rem;
          form {
            .input {
              position: relative;
              margin-bottom: 2rem;
              input {
                display: block;
                outline: none;
                border: none;
                padding: .3rem .5rem;
                border-radius: .3rem;
                background-color: $box-bg-color;
                width: 100%;
                min-width: 18rem;
                max-width: 100%;
                margin-bottom: 1rem;
                font-size: .9rem;
                border: 1px solid $blue-bg-color;
                transition: all .2s ease-in-out;
                &::placeholder {
                  text-transform: capitalize;
                }
                &:focus {
                  border-color: $soft-gold-color;
                  border-width: 1px;
                }
              }
              label {
                font-size: .8rem;
                font-weight: 600;
                text-transform: capitalize;
                display: block;
                letter-spacing: .05rem;
                opacity: .8;
                position: absolute;
                top: -1.2rem;
                left: 0;
              }
            }
          }
        }
        .submit {
          background-color: $blue-bg-color;
          color: $main-text-color;
          padding: .5rem;
          width: 100%;
          border-radius: .5rem;
          cursor: pointer;
        }
      }
    }
  }
}
