@import '@/app/globals.scss';

.sidebar {
  position: fixed;
  height: 100%;
  width: 6rem;
  background: linear-gradient(to right, $grd-first-color, $grd-second-color);
  border-radius: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  z-index: 5;
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    div {
      background: linear-gradient(to bottom, #725caf, #2a1a47);
      padding: .8rem;
      color: $main-text-color;
      border-radius: .2rem;
      cursor: pointer;
      transition: .2s ease-in-out;
      &:hover {
        // background: $main-bg-color;
        transform: scale(1.2);
        border-radius: 50%;
      }
    }
  }
  .sidebar-footer {
    flex-basis: 15rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    div {
      transition: .2s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: .8;
        transform: scale(1.1);
      }
    }
  }
}
