@import '@/app/globals.scss';

.sidebar {
  position: fixed;
  height: 100%;
  width: 4rem;
  background: linear-gradient(to right, $grd-first-color, $grd-second-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  transition: .3s ease-in-out;
  .sidebar-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    div {
      background: linear-gradient(to bottom, #725caf, #2a1a47);
      padding: .5rem;
      color: $main-text-color;
      border-radius: 50%;
      cursor: pointer;
      transition: .2s ease-in-out;
      &:hover {
        color: $soft-gold-color
      }
    }
  }
  .sidebar-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    div {
      transition: .2s ease-in-out;
      color: $main-text-color;
      cursor: pointer;
      &:hover {
        opacity: .8;
        transform: scale(1.1);
      }
    }
  }
  .expander {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1.6rem;
    height: 1.6rem;
    background-color: $soft-gold-color;
    transform: translate(100%, -50%);
    border-radius: 0% 50% 50% 0;
    .icon {
      color: $main-text-color;
      width: 100%;
      height: 100%;
      padding-right: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s ease-in-out;
    }
    .collapsed {
      transform: rotate(180deg) translateX(10%);
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 3rem;
    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
    .sidebar-nav {
      div {
        padding: .3rem;
      }
    }
  }
}
