@tailwind base;
@tailwind components;
@tailwind utilities;

$grd-first-color: #2f245e; // for box gradient
$grd-second-color: #251C48; // for box gradient
$main-text-color: #fff; // for text 
$blue-bg-color: #4D4AC9; // some box need diff bg color
$main-bg-color: #090227; // bg for body
$error-color: #D43A48; // for error messages

$subtle-gray-color: #999999; // for text
$soft-gold-color: #D4AF37; // for text icons
$deep-green-color: #006400; // for success messages
$cool-teal-color: #00A3A3; // for info messages

// $yellow-color: #FFD700; // for warning messages
// $analog-color: #8A2BE2;
// $light-blue-color: #add8e6;
// $dark-purple-color: #4B0082;

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 92%;
  margin: auto;
}

.container-box {
  background: linear-gradient(to bottom, $grd-first-color, $grd-second-color);
  width: 97vw;
  margin: 2rem auto 0;
  border-radius: 2rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 96%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 98%;
    padding: 1rem;
  }
}

/* End Global Rules */



