@tailwind base;
@tailwind components;
@tailwind utilities;

$grd-first-color: #2f245e; // for box gradient
$grd-second-color: #251C48; // for box gradient
$main-text-color: #fff; // for text 
$blue-bg-color: #4D4AC9; // some box need diff bg color
$main-bg-color: #090227; // bg for body

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
}

.container {
  width: 92%;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 96%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
}
/* End Global Rules */




