@tailwind base;
@tailwind components;
@tailwind utilities;

$grd-first-color: #2f245e; // for box gradient
$grd-second-color: #251C48; // for box gradient
$main-text-color: #fff; // for text 
$blue-bg-color: #4D4AC9; // some box need diff bg color
$main-bg-color: #090227; // bg for body

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
}

.container {
  width: 96%;
  margin: auto;
}
/* End Global Rules */

/* Start Hero-Section Rules */
.hero-section {
  padding-top: 2rem;
  .container-box {
    background: linear-gradient(to bottom, $grd-first-color, $grd-second-color);
    height: 80vh;
    width: 97vw;
    margin: auto;
    border-radius: 2rem;
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 3rem;
      padding-top: 1.5rem;
      ul {
        display: flex;
        gap: .8rem;
        font-weight: bold;
        color: $main-text-color;
        text-transform: capitalize;
        button {
          background-color: $blue-bg-color;
          text-transform: capitalize;
          font-weight: bold;
          border-radius: .5rem;
        }
        a {
          padding: .5rem 1rem;
          &:hover {
            border-radius: .5rem;
            background-color: $blue-bg-color;
          }
        }
      }
    }
    // Start Main Content 
    .main-content {
      padding-top: 4rem;
      color: $main-text-color;
      text-align: center;
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
      }
      h2 {
        font-size: 1.5rem;
        margin-top: .5rem;
        margin-bottom: 2rem;
      }
      p {
        width: 60%;
        margin: auto;
        opacity: .6;
      }
      .img {
        margin-top: 4rem;
        img {
          margin: auto;
          border-radius: 2rem;
          width: auto;
          height: 400px;
          filter: grayscale(100%);
        }
      }
    }
    // Start Scroll Down
    .scroll-down {
      margin-top: 4rem;
      text-align: center;
      p {
        color: $main-text-color;
        text-transform: capitalize;
        font-weight: 600;
        font-size: .8rem;
        letter-spacing: 1px;
        opacity: .5;
      }
      svg {
        width: 1.2rem;
        height: 1.2rem;
        margin: auto;
        margin-top: .2rem;
        color: $main-text-color;
        opacity: .5;
      }
    }
  }
}



