@import './../../app/globals.scss';

.footer {
  text-align: center;
  letter-spacing: 1px;
  background-color: $blue-bg-color;
  height: 3rem;
  line-height: 3rem;
  text-transform: capitalize;
  border-radius: .5rem .5rem 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  .container {
    p {
      color: $main-text-color;
      a {
        font-weight: 600;
        transition: .2s ease-in-out;
        margin: 0 .2rem;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}