@import '@/app/globals.scss';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.core {
    background-color: $blue-bg-color;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // max-height: 100vh; /* Set a maximum height of 100% viewport height */
    overflow: hidden;
}

.score{
    background-color: $main-bg-color;
    border-radius: 25px;
    color: white;
    justify-content: center;
    margin-top: 2%;
    width: 50%;
    font-family: 'Press Start 2P';
}

.table{
    margin: 3%;
    border: 3px black solid;
    border-radius: 15px;
    overflow: hidden;
    background-image: url('https://i.gifer.com/origin/3f/3face8da2a6c3dcd27cb4a1aaa32c926_w200.gif');
    background-position: center center;
    background-color: whitesmoke;
    background-repeat: no-repeat;
}

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 50%;
    padding: 0px 2%;

}
.player1{
    border-right: 2px white solid;
}

.avatar{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 2% 0px;
    border : 2px white solid;
    img{
        width: 100%;
        height: 100%; 
    }
}
canvas{
    height: 100%;
    width: 100%;
}
