@import '@/app/globals.scss';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.core {
    background-color: $blue-bg-color;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score {
    background-color: $main-bg-color;
    border-radius: 2rem;
    overflow: hidden;
    color: white;
    justify-content: center;
    margin-top: 2%;
    width: 50%;
    position: relative;
    width: 90%;
    max-width: 40rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    &::after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
}


.player-score {
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .05rem;
    font-family: 'Press Start 2P';
}

.table {
    margin: 3%;
    border: 10px $main-bg-color solid;
    border-radius: 1rem;
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*okbBhXU2x0f_eFyUVyc-gA.gif');
    overflow: hidden;
    background-position: center center;
    background-color: black;
    background-repeat: no-repeat;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


canvas{
    height: 100%;
    width: 100%;
}

.popupcore
{
    font-family: 'Press Start 2P';
    border: 4px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border: 8px white solid;
}
.message
{
    text-align: center;
    color: white;
    margin-bottom: 5%;
    font-size: 20px;

}
.buttons button
{
    font-size: 20px;
    border: 3px white solid;
    margin: 4px;
    background-color: black;
    border-radius: 4px;
    color: white;

    padding: 7px 14px;
}
