@import '@/app/globals.scss';

.notification {
  .notif-icon {
    background-color: $main-text-color;
    border-radius: 1rem;
    padding: .3rem;
    width: $icon-width;
    height: $icon-width;
    svg {
      width: 100%;
      height: 100%;
      color: $main-bg-color;
      cursor: pointer;
    }
  }
}